@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4879ff; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #395299; 
}
a {
  text-decoration: none!important;
}

.btn-link {
  color: #1c1c1c;
  text-decoration: none;
}

.btn-link:hover {
  cursor: pointer;
}

.btn-link:focus{
  outline: none !important;
}

.data {
  color: #1c1c1c;
  justify-content: center;
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #0c215a!important;
  
}

.sidenav {
  margin: 0 !important;
  padding: 0 !important;
  width: 250px;
  z-index: 1;
  top: 0!important;
  overflow-x: hidden;
  position: fixed;
  background-color: #4879FF;
}

.sidebar-header {
  margin: 0;
  padding: 10px;
  width: 100%;
  display: block !important;
  text-align: center;
  color: #4879FF !important;
  background-color: #FFFFFF;
  border-right-style: solid;
  border-width: 1px;
}

.sidebar-header p {
  margin-top: 1.5rem;
}

.sidebar-header img {
  border-radius: 75px;
}

.nav-item i {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.student-profileimg {
    width:250px;
    height:250px;
    object-fit:cover;
    position: center center;
    padding: 3px;
    border: 1px solid #4879FF;
}

.faculty-profileimg {
    width:130px;
    height:130px;
    object-fit:cover;
    position: center center;
    padding: 3px;
    border: 1px solid #4879FF;
    margin: 50px 0px auto auto;
}

/* Modal */
.modal-title {
	color: #1c1c1c;
}


.close {
	color: #1c1c1c;
	font-size: 30px;
	font-weight: bold;
	border: none;
 	background-color: transparent;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


div.imgmodal>img {
	width: 300px;
	height: auto;
	margin: 0px;
}

input[type='file'] {
	margin: 0px;
	border-radius: 5px;
	color: #4879FF;
	background-color: #ffffff;
	font-size: 13px;
	padding: 5px 0px;
}

.modalbtn {
	border: 1px solid #ffffff;
	border-radius: 5px;
	color:#ffffff;
	background-color: #4879FF;
	font-size: 14px;
	float: right;
	padding: 5px 5px;
}
/* End of Modal Styling */

.content {
  padding: 0!important;
  margin: 0!important;
}

header {
  margin: 0 !important;
  padding: 5px !important;
  width: auto;
  margin-left: 160px !important;
  height: auto;
  background-color: #4879FF;
  text-align: center;
  color: #FFFFFF;
}

header h6 {
  margin-top: 10px;
  font-weight: 700;
}

header p {
  font-size: 12px;
}

.img-fluid {
	width: 60px;
	height: auto;
}

.header-logo {
	pointer-events: none;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	float: none;
	padding: 0px 5px;
}

.main-contents {
  width: 100%;
  height: auto;
  text-align: center;
}

.header {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    color: #4879FF !important;
    border-bottom-style: solid;
    border-width: 1px;
}

.footer {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    color: #4879FF !important;
}

.header h6 {
  font-weight: 700;
}

.main-contents-table {
  width: 100%;
  height: auto;
}

.table-custom {
  margin-top: 20px;
  padding: 0;
  height: auto;
  width: 100%;
}

.table {
  padding: 0px;
}

.viewBtn {
  background-color: #4879ff;
  padding: 10px;
  width: 100%;
  border: none;
  color: #ffffff;

}

.viewBtn:after {
  font-size: 20px;
  margin-left: 10px;
  content: '\1F872';
}

.viewBtn:hover {
  background-color: #3a549c;
  cursor: pointer;
}
.fa-arrow-right:before {
    margin-left: 10px;
}

.floating-btn button{
  width: 200px;
  height: auto;
  padding: 10px;
  color:  #FFFFFF;
  margin-bottom: 20px;
}

.fixed-button {
  position: fixed;
  bottom: -30px;
  z-index: 1;
}

.table-head {
  background-color: #4879FF !important;
  color: #FFFFFF !important;
}

.block-list td{
  background-color: #4879FF !important;
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
}
.block-list td:first-child {
  border-left:  1px solid #4879FF !important;
}
.block-list td:last-child {
  border-right:  1px solid #4879FF !important;
}

.rating {
  display: block;
  float: left;
}
.rating input {
  width: 70%;
  border-radius: 0;
}

.rating button {
  width: 30%;
  background-color: #7A7A7A;
  border-color: #7A7A7A;
  border-radius: 0;
  color: #FFFFFF;
}

.table .course-list td {
  color: #000000;
}

.table-bordered {
  border-color: #1c1c1c;
}

.prospectus {
  margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
  background-color: #4879FF;
  color: #FFFFFF;
}
  
.border {
  border: 1px solid #1c1c1c !important;
  border-bottom: none !important;
  margin-top: 30px;
  width: 85%;
  padding: 0;
}

.wrapper {
  margin: 50px 0px;
}

.student-grades {
  margin-top: 20px;
  width: 100%;
}

.student-grades td, th{
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  text-align: center;
}

.student-grades th:first-child {
    width: 80px;
    border-left: none;
}

.student-grades th:last-child {
    border-right: none;
}

.student-grades td:first-child {
    border-left: none;
}

.student-grades td:last-child {
    border-right: none;
}

.add-student {
  margin-top: 50px;
}

.add-studentBtn {
    background-color: #40A251;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    padding: 5px;
    width: 100px;
}

.accordion {
  background-color: #4879ff;
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.3s;
}

.active1, .accordion:hover {
  background-color: #3a549c;
}

.accordion:after {
  float: right;
  content: '\1F783';
  margin-left: 10px;
}

 .active1:after {
  content: '\1F781';
  
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}



@media screen and (max-width: 637px) {
  .header {
    height: 45px;
  }
}

@media screen and (max-width: 575px) {
  .sidebar-header p {
    font-size: 12px;
  }
}
